/* basic styling */
.flashes h4 {
    line-height: 2;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.set_min_height {
    min-height: 70vh;
}

.no-border {
    border: 0px;
}

/* text styling */
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0 ,0 , 0, 0.5);
}

.text-green {
    color: #00c853;
}

/* Button styling */
.btn-green{
    background-color: #00c853;
}

.btn-green:hover {
    background-color: #2e7d32 !important;
}

/* margin and padding */
.ml-2 {
    margin-left: 15px;
}

.sidenav li>a>i {
    margin: 0px;
}

.padding-card {
    padding: 10px !important;
}

.margin-0 {
    margin: 0px !important;
}

.padding-0 {
    padding: 0px !important;
}

.no-left {
    left: 0px !important;
}

/* image styling */
.image-card {
    border-radius: 50% !important;
    text-align: center;
    padding: 5px 2px;
}

.div-of-image-card {
    display: flex;
    align-items: center;
}

/* footer styling */
footer a {
    color: #bdbdbd;
    transition: all 0.25s ease-in-out;
}

footer a:hover {
    color: #757575;
}

footer a i {
    color: #ffffff;
    transition: all 0.25s ease-in-out;
}

footer a i:hover {
    color: #9e9e9e;
}