/* basic styling */
.flashes h4 {
    line-height: 2;
}

/* text styling */
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0 ,0 , 0, 0.5);
}

/* Button styling */
.btn-green{
    background-color: #00c853;
}

.btn-green:hover {
    background-color: #2e7d32 !important;
}

/* margin and padding */
.ml-2 {
    margin-left: 15px;
}

.sidenav li>a>i {
    margin: 0px;
}

.padding-card {
    padding: 10px !important;
}

/* image styling */
.image-card {
    border-radius: 50% !important;
    text-align: center;
    padding: 5px 2px;
}

.div-of-image-card {
    display: flex;
    align-items: center;
}