{% extends "base.html" %}
{% block content %}
    
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <!-- this is the first card the user will see -->
            <div class="card mt-20">
                <div class="card-content">
                    <div class="row">
                        <div class="col s12 l6">
                            <h5 class="center"><b>Hi there!!</b></h5>
                            <!-- if the user is logged in do this -->
                            {% if session.user %}
                                <p class="center">
                                    Good to see you! We are happy to have you here. Have a look around if there is any stock you like.
                                    We from Responsible Investors are always bussy with adding new and sustainable stocks to our platform.
                                    Feel free to send us a mail if you have a tip. <i class="far fa-smile-wink"></i> 
                                </p>
                                <p class="center">
                                    Click on the button below to see you portfolio and
                                    your profile. This is the place where your stocks can be found!
                                </p>
                                <br>
                                <div class="center">
                                    <a class="btn btn-green" href="{{ url_for('portfolio') }}">Check your Portfolio</a>
                                </div>
                            <!-- if the user isn't logged in do this -->
                            {% else %}
                                <p class="center">
                                    The Responsible Investors is a platform where you can buy and sell stocks of companies
                                    who try to make the world a better place. This goes from green energy to big tech companies
                                    who changed the world in a positive way. Are you curious which stock you can trade on our platform?
                                    Sign in below or login if you allready have an account!
                                </p>
                                <br>
                                <div class="center">
                                    <a class="btn btn-green" href="{{ url_for('register') }}">register</a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col l6 hide-on-med-and-down">
                             <img src="{{ url_for('static', filename='images/green_energy.png') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    {% if session.user %}
        <!-- the row with the electric/hybrid car stocks -->
        <div class="row">
            <h5 class="center"><b>Electric/hybrid cars stocks:</b></h5>
            {% for stock in stocks %}
                {% if stock.category == "electric/hybrid cars" %}
                    <div class="col s12 m8 l4 offset-m2">
                        <div class="card horizontal min-height-card">
                            <div class="card-image col s5 div-of-image-card">
                                <img src="{{ stock.photo_link }}" class="image-card">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content padding-card">
                                    <h6><b>{{ stock.stock_name }}</b></h6>
                                    <p>{{ stock.description_short }}</p>
                                </div>
                                <div class="card-action padding-card">
                                    <a href="{{ url_for('stock_page', stock_info_id=stock._id) }}" class="btn btn-green">
                                        read more
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <br>

        <!-- the row with the big tech stocks -->
        <div class="row">
            <h5 class="center"><b>Big tech stocks:</b></h5>
            {% for stock in stocks %}
                {% if stock.category == "big tech" %}
                    <div class="col s12 m8 l4 offset-m2">
                        <div class="card horizontal min-height-card">
                            <div class="card-image col s5 div-of-image-card">
                                <img src="{{ stock.photo_link }}" class="image-card">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content padding-card">
                                    <h6><b>{{ stock.stock_name }}</b></h6>
                                    <p>{{ stock.description_short }}</p>
                                </div>
                                <div class="card-action padding-card">
                                    <a href="{{ url_for('stock_page', stock_info_id=stock._id) }}" class="btn btn-green">
                                        read more
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <br>

        <!-- the row with the 3-d printing stocks -->
        <div class="row">
            <h5 class="center"><b>3-D printing companies stocks:</b></h5>
            {% for stock in stocks %}
                {% if stock.category == "3d-printing" %}
                    <div class="col s12 m8 l4 offset-m2">
                        <div class="card horizontal min-height-card">
                            <div class="card-image col s5 div-of-image-card">
                                <img src="{{ stock.photo_link }}" class="image-card">
                            </div>
                            <div class="card-stacked">
                                <div class="card-content padding-card">
                                    <h6><b>{{ stock.stock_name }}</b></h6>
                                    <p>{{ stock.description_short }}</p>
                                </div>
                                <div class="card-action padding-card">
                                    <a href="{{ url_for('stock_page', stock_info_id=stock._id) }}" class="btn btn-green">
                                        read more
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    <br><br>

{% endblock %}