{% extends "base.html" %}
{% block content %}
    
    <table class="striped">
        <thead>
            <th>Name of the Stock:</th>
            <th>Stocks bought:</th>
            <th>Total Stocks Price:</th>
            <th>Avg. Stock Price:</th>
            <th>Profit/Lost:</th>
            <th>Action:</th>
        </thead>
        <tbody>
            {% for stock_bought in stocks_bought %}
                {% if session.user|lower == stock_bought.bought_by|lower %}
                    <tr>
                        <td>{{ stock_bought.stock_name }}</td>
                        <td>{{ stock_bought.stock_amount }}</td>
                        <td>${{ stock_bought.stock_price }}</td>
                        <td></td>
                        <td></td>
                        <td>
                            <form method="POST" action="{{ url_for('sell_stocks', stocks_bought_id=stock_bought._id) }}">
                                <div class="row margin-0">
                                    <div class="input-field col s4 margin-0">
                                        <label for="stocks_sell">quantity</label>
                                        <input type="number" name="stocks_sell" id="stocks_sell" min="0" max="{{ stock_bought.stock_amount }}" required />
                                    </div>
                                    <div class="input-field col s3 margin-0">
                                        <button type="submit" class="btn red">
                                            Sell
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}