{% extends "base.html" %}
{% block content %}
    
    <table class="striped">
        <thead>
            <th>Name of the Stock:</th>
            <th>Stocks bought:</th>
            <th>Total Stocks Price:</th>
            <th>Avg. Stock Price:</th>
            <th>Profit/Lost:</th>
            <th>Action:</th>
        </thead>
        <tbody>
            {% for stock_bought in stocks_bought %}
                {% if session.user|lower == stock_bought.bought_by|lower %}
                    <tr>
                        <td>{{ stock_bought.stock_name }}</td>
                        <td>{{ stock_bought.stock_amount }}</td>
                        <td>${{ stock_bought.stock_price }}</td>
                        <td></td>
                        <td></td>
                        <td><a href="{{ url_for('sell_stocks', stock_bought_id=stock_bought._id) }}" class="btn-small red">sell</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

{% endblock %}